$box-size: 300px;
.clear{
  clear: both;
}
.won-alert{
  background-color: aqua;
  left: 33%;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 100px
}
.reset{
  font-size: 30px;
  height: 100px;
  left: 47%;
  position:absolute;
  width: 100px;
}
.box.won{
  background-color: lightblue;
}
.box.end{
  opacity: 0.5;
}
.win{
  background-color: yellow;
  height: 30px;
  left: 30%;
  position: absolute;
  top: 0;
  width: auto;
}
.line{
  background-color: black;
  height: 100%;
  left: 50%;
  position: absolute;
  width: 2px;
  &.r{
    transform: rotate(30deg);
  }
  &.l{
    transform: rotate(330deg);
  }
}
.letter{
  font-size: $box-size/3;
  line-height: $box-size/3;
  position:relative;
  text-align: center;
}
.box:hover{
  opacity: 0.5;
}
.box.won:hover{
  opacity: 1;
}
.box{
  background-color: lightgreen;
  border-style: solid;
  border-color: black;
  border-right: none;
  border-bottom: none;
  position:relative;
}
.outer{
  height: $box-size;
  left: 30%;
  padding-bottom: 50px;
  position:relative;
  width: $box-size;
  & .inner{
    width: ($box-size/3)-5px;
    height: ($box-size/3);
    float: left;
  }
  & .inner:nth-child(3n){
    border-right: solid;
  }
   & .inner:nth-last-child(-n+3){
    border-bottom: solid;
  }

}